@using Demo.Web.Controllers;
@model Demo.Web.Models.MyPageViewModel

@*<section class="section">
        <h1>My page</h1>
        <p>@Model.Id</p>
        <p>@Model.Email</p>
        <p>@Model.Login</p>
        <p>@Model.MemberType</p>
        <p>@Model.FirstName</p>
        <p>@Model.LastName</p>
        <a href="/editmypage">Endre</a>
    </section>*@
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Min side
            </div>
            <div class="panel-body">
                <div class="col-lg-6">
                    <div class="row">
                        <form role="form" id="contact" ng-controller="MyPageController" ng-cloak>
                            <fieldset disabled>
                                <div class="form-group">
                                    <label for="Id">Id</label>
                                    <input class="form-control" ng-model="myPageData.Id" id="Id" type="text" placeholder="Disabled input">
                                </div>
                                <div class="form-group">
                                    <label for="Name">Name</label>
                                    <input class="form-control" ng-model="myPageData.Name" id="Name" type="text" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="Name">Login</label>
                                    <input class="form-control" ng-model="myPageData.Login" id="Login" type="text" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="Name">MemberType</label>
                                    <input class="form-control" ng-model="myPageData.MemberType" id="MemberType" type="text" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="Name">MemberGroup</label>
                                    <input class="form-control" ng-model="myPageData.MemberGroup" id="MemberType" type="text" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="Name">FirstName</label>
                                    <input class="form-control" ng-model="myPageData.FirstName" id="FirstName" type="text" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="Name">LastName</label>
                                    <input class="form-control" ng-model="myPageData.LastName" id="LastName" type="text" placeholder="Name">
                                </div>
                                @*<p ng-bind="myPageData.Login"></p>
                                    <p ng-bind="myPageData.MemberType"></p>
                                    <p ng-bind="myPageData.FirstName"></p>
                                    <p ng-bind="myPageData.LastName"></p>*@
                                @*<p>{{myPageData.Email}}</p>
                                    <p>{{myPageData.Login}}</p>
                                    <p>{{myPageData.MemberType}}</p>
                                    <p>{{myPageData.FirstName}}</p>
                                    <p>{{myPageData.LastName}}</p>*@
                                <a href="/editmypage" class="">Endre</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
